@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

}
body{
    background-image: url('assets/newimg/background.jpg');
    background-size: 100%;
    background-color: rgba(rgb(174, 151, 151), rgb(129, 162, 129), rgb(97, 97, 102), 1);
    /* background: #f1fbff; */
}
.custBack{
    background: rgba(30, 81, 123,0.4);
    border-radius: 40px;
}
.carousel-caption{
    z-index: 2;
}

/* .carousel-inner::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
} */
.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-light .navbar-brand{
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.register{
    background: linear-gradient(left, #3931af, #00c6ff);
    /* margin-top: 2%; */
    margin-top: 5%;
    margin-bottom: .5vh;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #000;
    margin-top: 30px;

}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover{
    0% {transform: translateY(0);}
    100% {transform: translateY(-20px);}
}
@keyframes mover{
    0% {transform: translateY(0);}
    100% {transform: translateY(-20px);}
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.input-type{
    width: 100%;
    height: auto;
    border-radius: 10px;
    color: #596646;
    background-color: #f1fbff;
}
.input-button{
    width: 100%;
    height: auto;
    border-radius: 10px;

}
.container a{
    color: #f1fbff;
}
.register-right label{
    color: #e4352b;
}
.my-footer{
    background: rgba(98, 97, 97, 0.7);
    height: 100px;
}
.my-footer p{
    padding-top: 40px;
}
.register-left .row .myStarter-card{
    background: rgba(77, 72, 72, 0.4);
}
@media (max-width: 985px) {
    body{
        background: url('assets/newimg/background.jpg');
    }
    .custBack{
        background: rgba(30, 81, 123,0.3);
        border-radius: 40px;
    }

}



/* homestyle */
